* {
  margin: 0;
  padding: 0;
  background-color: #fcf9f0;
  background-size: cover;
}
@font-face {
  font-family: SpartanMedium;
  src: url(./spartan-cufonfonts/Spartan-Medium.ttf);
}
@font-face {
  font-family: SpartanSB;
  src: url(./spartan-cufonfonts/Spartan-SemiBold.ttf);
}
@font-face {
  font-family: SpartanLight;
  src: url(./spartan-cufonfonts/Spartan-Light.ttf);
}
.icon {
  margin-left: 73%;
}
.container {
  padding: 10%;
}
body {
  overflow: hidden;
}
.main {
  position: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 90%;
  display: grid;
  padding-left: 13%;
  grid-template-columns: repeat(auto-fill);
  column-gap: 10px;
  row-gap: 10px;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding: 12px;
}
